@model CodeBidder.Models.ProjectDetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProjectDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetPlatform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetPlatform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherPlatform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherPlatform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UiDesign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UiDesign)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorScheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorScheme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedTimeline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedTimeline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechStack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechStack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DbRequirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DbRequirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OngoingMaintenance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OngoingMaintenance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostLaunchSupport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostLaunchSupport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miscellaneous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miscellaneous)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
