@model IEnumerable<CodeBidder.Models.Quotation>

@{
    ViewData["Title"] = "Quotations for Project: " + ViewBag.ProjectName;
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}

<div class="container mt-5">
    <h1 class="mb-4">Quotations for @ViewBag.ProjectName</h1>

    @if (Model.Any())
    {
        <div class="row">
            @foreach (var quotation in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card shadow-sm border-light">
                        <div class="card-header text-white text-center " style="background-color: #395A7F; ">
                            <h5 class="mb-0">Quotation by @quotation.Developer.FirstName @quotation.Developer.LastName </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Estimated Cost:</strong> @quotation.EstimatedCost</p>
                            <p class="card-text"><strong>Estimated Timeline:</strong> @quotation.Timeline days</p>
                            <p class="card-text"><strong>Additional Notes:</strong> @quotation.AdditionalDetails</p>
                            <a href="@Url.Action("QuotationDetails", "ClientDashboard", new { id = quotation.Id })" class="btn btn-success">View Quotation Details</a>
                            <a href="@Url.Action("ContactDeveloper", "ClientDashboard", new { quotationid = quotation.Id })" class="btn btn-outline-primary">Contact Developer</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No quotations have been submitted for this project yet.</p>
    }
</div>
